/* Header */

body, html {
	height: 100%;
	margin: 0;
	font-family: 'Lato';
	color: #777;
}

header {
}

.logo {
	text-align:center;
} 

nav li {
	font-size:1em;
	list-style:none;
	text-align:center;
	text-transform:uppercase;
}

a:link {
	border-top:solid 0.1em;
    color: #777;
    font-size:3em;
    text-decoration:none;
}

a:visited {
    color: #777;
}

a:hover {
    color: #000;
}

a:active {
    color: #000;
}


/* Content */

.about h1 {
	text-align:center;
	text-transform:uppercase;
} 

.about {
	padding:2em;
}

.half {
}

.choices h1 {
	text-align:center;
	text-transform:uppercase;
}

.choices {
}

.third {
	padding:2em;
}

.third img {
	display: block;
	margin-left: auto;
 	margin-right: auto;
}

.aboutagain h1 {
	text-align:center;
	text-transform:uppercase;
}

.aboutagain {
	padding:2em;
}

.contact h1 {
	text-align:center;
	text-transform:uppercase;
}

.contact {
}

.half h4 {
	text-align:center;
}

.contact .half ul li {
	list-style:none;
	text-align:center;
	
}

/* Media Queries */

@media (min-width:1423px) {
/* Header */

header {
	background-color:#FFFFFF;
	margin:0;
	opacity:0.90;
	position:fixed;
	width:100%;
	z-index:1;
}

.logo {
	float:left;
	width:50%;
	clear:both;
}

.logo img {

	padding:2em 0 2em 1em;
	width:10em;
}

nav {
	float:left;
	text-transform:uppercase;
	width:50%;
}

nav a:hover {
	border-top:3px solid #097845;
	padding-top:1em;
}
	

nav ul li{
	display:inline;
	list-style:none;
}

nav li {
	padding-right:1em;
}

nav ul {
	margin:0;
	padding-top:3em;
}


a:link {
    color: #777;
    font-size:1em;
    text-decoration:none;
    border-top:none;
}

a:visited {
    color: #777;
}

a:hover {
    color: #000;
}

a:active {
    color: #000;
}

/* Background images */

.bgimg1, .bgimg2, .bgimg3, .bgimg4, .bgimg5 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 

}

.bgimg1 {
  background-image: url("../img/img1a.jpg");
  min-height: 700px;
  padding-top:3em;
}

.bgimg2 {
  background-image: url("../img/img1.jpg");
  min-height: 700px;
}

.bgimg3 {
  background-image: url("../img/img2.jpg");
  min-height: 700px;
}

.bgimg4 {
  background-image: url("../img/img3.jpg");
  min-height: 700px;
}

.bgimg5 {
  background-image: url("../img/img1a.jpg");
  min-height: 300px;
}

/* Content */

.about h1 {
	text-align:center;
	text-transform:uppercase;
}

.about {
	height:320px;
	width:100%;
	
}

.half {
	float:left;
	padding:0 2em 0 2em;
	width:45%;
}

.choices h1 {
	text-align:center;
	text-transform:uppercase;
}

.choices {
	height:410px;
	padding:1em 4em 1em 4em;
}

.third {
	float:left;
	width:28%;
}

.third img {
	display: block;
	margin-left: auto;
 	margin-right: auto;
}

.aboutagain h1 {
	text-align:center;
	text-transform:uppercase;
}

.aboutagain {
	height:350px;
	padding:1em 4em 1em 4em;
}

.contact h1 {
	text-align:center;
	text-transform:uppercase;
}

.contact {
	height:350px;
	padding:1em 4em 1em 4em;
}

.half h4 {
	text-align:center;
}

.contact .half ul li {
	list-style:none;
	text-align:center;
	
}

footer {
	text-align:center;
}
}
